<h2>Picture Home</h2>
<p>
    <a asp-action="AddPicture" asp-controller="Picture" >
       Add A Picture
    </a>
</p>

<p>
    <a asp-action="DisplayPictures" asp-controller="Picture">
        Display Pictures
    </a>
</p>